{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3" style="background-color:powderblue">

                <h1 href="" class="white-text mx-2" ><center><b>Hotel Menu </b></center>  </h1>



                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-light">

                    <tr class="table-active">

                        <th><center>ID</center></th>
                        <th><center>Item</center></th>
                        <th><center>Price</center></th>
                        <th><center>Quantity</center></th>
                        <th><center>Action</center></th>

                    </tr>


                   {% for row in employees %}
                    <tr>
                        <td><center>{{ row.id }}</center></td>
                        <td><center>{{ row.name }}</center></td>
                        <td><center>{{ row.email }}</center></td>
                        <td><center>{{ row.phone }}</center></td>

                        <td><center>
                            <a href="/update/{{row.id}}" class="btn btn-outline-primary" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-outline-danger" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                        </center></td>

                    </tr>

                    



                  <!-- Modal Edit Employee-->

<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('update')}}" method="POST">


               <div class="form-group">


                  <label>Item:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">

                  <input type="text" class="form-control" name="name" value="{{row.name}}">


               </div>



               <div class="form-group">


                  <label>Price:</label>

                  <input type="text" class="form-control" name="email" value="{{row.email}}">


               </div>


               <div class="form-group">


                  <label>Quantity:</label>

                  <input type="text" class="form-control" name="phone" value="{{row.phone}}">


               </div>
               <div>
                  
                  <button class="btn btn-success" type="submit">Update</button>

               </div>

               </form>


         </div>


         <div class="modal-footer">

            
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}

                    
                </table>

                <tr>
                       <button type="button"  class="btn btn-success btn-lg btn-block"
                data-toggle="modal" data-target="#mymodal">Add New Items</button>
                    </tr>
            </div>



                  <!-- Modal Add items -->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add New Items</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert')}}" method="POST">


               <div class="form-group">

                  <label>Items:</label>
                  <input type="text" class="form-control" name="name" required="1">


               </div>


                <div class="form-group">


                  <label>Price:</label>
                  <input class="form-control" name="email" required="1">


               </div>


                <div class="form-group">


                  <label>Quantity:</label>
                  <input type="number" class="form-control" name="phone" required="1">


               </div>

               <div>
                  
                  <button class="btn btn-success" type="submit">Add Item</button>

               </div>
            </form>


         </div>


         <div class="modal-footer">

            
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>



</div>


           </div>

    </div>


</div>


{% endblock %}