{% block img %}
<img src="{{ url_for('static',filename='deposit.gif') }}">
{% endblock %}{% extends'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}

</style>
</head>
<body>

<form action="{{ url_for('deposit') }}" method='post'><center>
    <div class="input-container">
    <i class="fa fa-money icon"></i>
    <input class="input-field" type="integer" placeholder="deposit amount" name="deposit"><br></div>
 <div class="input-container">
    <i class="fa fa-bank icon"></i>
    <input class="input-field" type="password" placeholder="AC Number" name="acnumber"><br></div>
    <input type="submit"></center>
  <br><br>

</form>
</body>

{% endblock %}